* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 800px);
	padding-right: calc(50% - 800px);
}

.header {
    background-color: #222;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 859px;
    flex-direction: row;
}

.img__header1 {
    padding-top: 18px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 41px;
}

.img__header2 {
    padding-top: 26px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 33px;
}

.top__info {
    background: #F1E4E6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 63px;
}

.block__text {
    width: 405px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.img__rectangle {
    width: 12px;
}

.title {
    font-size: 48px;
    line-height: 58px;
    font-style: normal;
    font-weight: 900;
    color: #222;
}

.title__newline {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
}

.title__newline__pink {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
}

.top__content {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.item {
    padding-top: 105px;
    padding-bottom: 105px;
    display: grid;
    justify-items: center;
    white-space: pre-line;
}

.item1 {
    background: rgba(33, 22, 22, 0.7);
    background-image: url(../img/bg-woman.jpg);
}

.item2 {
    background: rgba(33, 22, 22, 0.7);
    background-image: url(../img/bg-man.jpg);
}

.item3 {
    background: rgba(33, 22, 22, 0.7);
    background-image: url(../img/bg-child.jpg);
}

.item__big {
    background: rgba(33, 22, 22, 0.7);
    background-image: url(../img/bc-big-clothes.jpg);
    padding-top: 65px;
    padding-bottom: 65px;
    grid-column: span 3;
    display: grid;
    justify-items: center;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    font-style: normal;
    color: #FFF;
}

.subtitle__pink {
    font-size: 24px;
    color: #F16D7F;
    text-align: center;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.content__textblock {
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.content__heading {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    color: #222;
}

.content__text {
    padding-top: 6px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #9F9F9F;
    font-style: normal;
}

.items__block {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.item__content {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.block__content__text {
    padding-top: 24px;
    padding-bottom: 20px;
    width: 315px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.heading__content {
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    font-weight: 400;
    color: #000;
}

.text__content {
    padding-top: 13px;
    padding-bottom: 18px;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 300;
    color: #5D5D5D;
}

.text__price {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: 400;
    color: #F16D7F;
}

.button__content {
    margin-top: 48px;
    margin-bottom: 60px;
    padding: 15px 39px 14px 39px;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #FF6A6A;
    background-color: #fff;
    color: #F26376;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .header {
        gap: 424px;
        width: 768px;
    }

    .img__header1 {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    .img__header2 {
        padding-top: 19px;
        padding-bottom: 18px;
    }

    .top__info {
        gap: 39px;
        width: 768px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .main__photo {
        width: 386px;
    }

    .block__text {
        width: 311px;
    }

    .title {
        font-size: 44px;
        line-height: 53px;
    }
    
    .title__newline {
        font-size: 24px;
    }
    
    .title__newline__pink {
        font-size: 24px;
    }

    .top__content {
        padding-bottom: 110px;
        gap: 16px;
        grid-template-columns: repeat(3, 232px);
    }

    .item {
        padding-top: 58px;
        padding-bottom: 58px;
        background-size: 100%;
    }

    .item__big {
        padding-top: 33px;
        padding-bottom: 33px;
    }

    .content__textblock {
        padding-bottom: 73px;
    }

    .content__text {
        padding-top: 3px;
    }

    .items__block {
        gap: 16px;
        grid-template-columns: repeat(2, 360px);
    }

    .button__content {
        margin-top: 32px;
        margin-bottom: 65px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {

    .center {
        padding-left: calc(50% - 50vw);
        padding-right: calc(50% - 50vw);
    }

    .header {
        gap: 50%;
        width: 100%;
        margin: 0 auto;
        max-width: 767px;
        min-height: 100%;
    }

    .contacts__link {
        display: none;
    }

    .basket__link {
        display: none;
    }

    .img__header2 {
        padding-top: 1.56rem;
        padding-bottom: 1.63rem;
    }

    .top__info {
        width: 100%;
        margin: 0 auto;
        max-width: 767px;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main__photo {
        display: none;
    }

    .block__text {
        max-width: 263px;
        gap: 0.94rem;
        padding-top: 9.25rem;
        padding-bottom: 9.31rem;
        align-items: flex-end;
    }

    .img__rectangle {
        height: 3.81rem;
        width: 0.75rem;
    }

    .title {
        font-size: 38px;
        line-height: 46px;
    }
    
    .title__newline {
        font-size: 20px;
    }
    
    .title__newline__pink {
        font-size: 20px;
    }

    .top__content {
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        max-width: 767px;
        min-height: 100%;
    }
    
    .item {
        padding-top: 6.13rem;
        padding-bottom: 6.19rem;
        background-size: cover;
        max-width: 343px;
        width: 100%;
        align-self: center;
        margin: 0 auto;
        min-height: 100%;
        background-position: center;
    }

    .item__big {
        padding-top: 1.88rem;
        padding-bottom: 1.94rem;
        grid-column: span 1; 
    }

    .content__textblock {
        padding-bottom: 4.06rem;
        width: 90%;
        margin: 0 auto;
        max-width: 336px;
        min-height: 100%;
    }

    .content__heading {
        font-size: 1.88rem;
        line-height: 2.25rem;
    }

    .content__text {
        padding-top: 0.19rem;
        font-size: 0.88rem;
        line-height: 1.06rem;
    }

    .items__block {
        gap: 1rem;
        grid-template-columns: repeat(1, 96vw);
        width: 100%;
        margin: 0 auto;
        max-width: 767px;
        min-height: 100%;
        justify-items: center;
    }

    .item__content img {
        width: 100%;
    }

    .item__content {
        width: 100%;
        margin: 0 auto;
        max-width: 359px;
        min-height: 100%;
    }

    .block__content__text {
        width: 83.73vw;
        max-width: 314px;
    }

    .heading__content {
        font-size: 0.81rem;
        line-height: 1rem;
    }

    .text__content {
        font-size: 0.88rem;
        line-height: 1.06rem;
    }

    .text__price {
        font-size: 1rem;
        line-height: 1.19rem;
    }

    .button__content {
        margin-top: 2.56rem;
        margin-bottom: 6rem;
        font-size: 1rem;
        line-height: 1.19rem;
    }
}
